@model UserManagement.Web.Models.Users.UserListItemViewModel

<h2>Edit User</h2>
<form asp-controller="Users" asp-action="Edit" method="post">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="Forename">Forename:</label>
		<input asp-for="Forename" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Surname">Surname:</label>
		<input asp-for="Surname" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Email">Email:</label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="DateofBirth">DateOfBirth:</label>
		<input asp-for="DateofBirth" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="IsActive">Is Active:</label>
		<input asp-for="IsActive" type="checkbox" />
	</div>
	<button type="submit" class="btn btn-primary">Update User</button>

</form>
